# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env
.env.local

# Python cache & artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Chroma DB vector database
db/
*.sqlite3

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
